<p id="notice"><%= notice %></p>
<h1>Posts</h1>
    <% @posts.each do |post| %>
      <tr>
        <%= render @posts %>
<%= link_to 'New Post', new_post_path %>
        <td><%= post.title %>
        <td><%= post.content %>
        <td><%= link_to 'Show', post %>
        <td><%= link_to 'Edit', edit_post_path(post) %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
